.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  display: block;
  border-radius: 20%;
  justify-content: center;
  margin-left: 25px;
}
.btn {
  margin-left: 15rem!important;
}
li {
  list-style: none;
}
p{
  text-align: center !important;
  font-weight: bold;
}

